<form (ngSubmit)="onSearch(postCode)" #postcodeForm="ngForm">
	<div class="form-group center-block search-postcode" [class.has-warning]="postcodeWarning" [class.has-error]="postcodeError">
		<label class="control-label " for="locationInput">Your Postcode</label>
		<div class="input-group">
			<input #locationInput type="tel" class="form-control input-lg" id="locationInput" name="locationInput" min="200" max="9999"
				maxlength="4" autocomplete="off" [placeholder]="textPlaceholder" [(ngModel)]="query" (keyup)=filter()>
			<span class="input-group-btn btn-group-lg">
            <!-- <button type="button" class="btn btn-default btn-lg"
            (click)="onPostCodeSearch(postCode)">
                <span class="lnr lnr-location"></span> Near me
			</button> -->
			<button type="submit" class="btn btn-default btn-lg" [class.disabled]="!postcodeValid" [disabled]="!postcodeValid">
                <!-- <span class="lnr lnr-magnifier"></span>  -->
                Search
            </button>

			</span>
		</div>
		<div class="suggestions" *ngIf="filteredList.length > 0">
			<ul *ngFor="let item of filteredList">
				<li>
					<a (click)="select(item)">{{item}}</a>
				</li>
			</ul>
		</div>

	</div>
</form>