#mapitem >>> .sebm-google-map-container {
    height: 100px;
}
.my-organisation-detail {
        height: 50vh;
        background: #ff4d4d;
    }

    :host(.orgDetailContainer) {
        /*position: fixed;
        display: inline-block;
        width: 100%;*/
        /*right:100%;*/
        -webkit-transition: all ease-in-out 0.5s;
        transition: all ease-in-out 0.5s;
    }

    :host(.orgDetailContainer.ng-enter) {
        /*transform: rotateZ(180deg)*/
        /*transform: translate(-50%,0);*/
    }

    :host(.orgDetailContainer.ng-enter-active) {
        /*transform: translate(-100%,0);*/
    }


  .panel-default {
        border: 0;
        border-bottom: 1px solid #eee;
        box-shadow: none;
    }
  .panel-heading{
      background-color: transparent;
    }
.panel-heading h3{
  display: -webkit-box;
}

#leftSidePanelDetails .list-group-item{
  border:0;
}

#close-details{
  margin: 20px 15px 0 0;
  opacity: 1;
}
#close-details svg{
  width: 30px;
}

#mapitem {
  position: relative;
  overflow: hidden;
  transform: translateZ(0px);
  background-color: rgb(229, 227, 223);
  margin: -15px -15px 0;
}
#google-maps-link {
    position: absolute;
    z-index: 10;
    right: 20px;
    margin-top: 90px;

}
#google-maps-link .lnr {
    color: #fff;
}

.contact .list-group-item h5{
  /*font-size: 1.2em;*/
}
.contact .list-group-item{
  font-size: 1.2em;
}
.list-group-item > *:not(h5):not(.btn) {
    margin-left: 30px;
}

/* Add the following CSS block to your own
stylesheet. */
.lnr {
  color: #666;
  vertical-align: baseline;
  /*font-size: 1.2em;*/
  margin-right: 8px;
}

.tags {
  display: flex;
  flex-wrap: wrap;

}
.tags .label{
  margin-top: 5px;
  margin-left: 5px;
  white-space: normal;
}

/*BS3 */
@media(max-width:767px){
  .panel-heading h3{
      font-size: 1.8rem;
    }
    .close .lnr{
      font-size: 0.8em;
      margin-right: 0;
    }
    .list-group.contact {
      margin-top: 20px;
  }
}

/* Small devices (tablets, 768px and up) */
@media(min-width:768px){

  #mapitem >>> .sebm-google-map-container{
      height: 100px;
  }

  #google-maps-link{
    margin-top: -15px;
  }


}
/* Medium devices (desktops, 992px and up) */
@media(min-width:992px){


}
/* Large devices (large desktops, 1200px and up) */
@media(min-width:1200px){
  #mapitem >>> .sebm-google-map-container {
      height: 120px;
  }
  #google-maps-link{
    margin-top: 5px;
  }
}
/* Large devices (large desktops, 1200px and up) */
@media(min-width:1600px){
  #mapitem >>> .sebm-google-map-container {
      height: 200px;
  }
  #google-maps-link{
    margin-top: 10px;
  }
}
