<div id="about-container" class="page-container" >
<!-- <h1>About</h1> -->
<h2>What is disability advocacy?</h2>
<p>Disability advocacy is acting, speaking or writing to promote, protect and defend the human rights of people with disability - to ensure that they are valued members of the community.  It must be independent and not influenced by any relationships that might exist between the advocate, the agency employing the advocate, or any party involved in the issue for which advocacy is being undertaken.</p>
<h3>What is the role of disability advocates?</h3>
<p>Disability advocates can take action on their own behalf, or can assist another person, or a group of people with disability – they may work in a paid or voluntary capacity.  Their work can include:</p>
<ul>
<li>providing information to people with disability about their human rights, and  identifying instances of discrimination</li>
<li>assisting people with disability to uphold their rights by speaking with and writing to people and organisations to raise awareness of problems and seek solutions</li>
<li>helping people with disability negotiate complaints processes or legal action to enforce their human rights</li>
<li>writing submissions and lobbying government to make changes that promote and protect the rights of people with disability</li>
<li>campaigning for social change by speaking to the media to raise awareness and highlight situations where people with disability are treated unfairly</li>
</ul>
<h4>Disability advocacy is not:</h4>
<ul>
  <li>providing counselling</li>
<li>making decisions for another person</li>
<li>providing mediation</li>
<li>providing case management</li>
</ul>
<p>There are a number of disability advocacy agencies across Australia, some are funded by the Australian Government under the National Disability Advocacy Program, some by state and territory governments, and others receive funding from more than one source.  Further information about the role that disability advocacy can play in the lives of people with disability, the responsibilities of advocacy organisations and how to access advocacy support, is available by viewing the DVD – National Disability Advocacy Program, Advocacy for people with disability.</p>

<h3>Department of Social Services (DSS):</h3>
<p>The National Disability Advocacy Program (NDAP) provides people with disability with access to effective disability advocacy that promotes, protects and ensures their full and equal enjoyment of all human rights enabling community participation.</p>
<p>Advocacy for people with disability can be defined as speaking, acting or writing with minimal conflict of interest on behalf of the interests of a disadvantaged person or group, in order to promote, protect and defend the welfare of and justice for either the person or group by:</p>
<ul>
<li>Acting in a partisan manner (i.e. being on their side and no one else's);</li>
<li>Being primarily concerned with their fundamental needs;</li>
<li>Remaining loyal and accountable to them in a way which is empathic and vigorous(whilst respecting the rights of others); and</li>
<li>Ensuring duty of care at all times.</li>
</ul>
<p>The target group for advocacy support provided by NDAP agencies, as required under section 8 of the DSA, consists of people with disability that:</p>
<ol type="a">
  <li> is attributable to an intellectual, psychiatric, sensory or physical impairment or a combination of such impairments;</li>
<li>is permanent or likely to be permanent; and</li>
<li>results in:
<ol type="i">
<li>a substantially reduced capacity of the person for communication, learning or mobility; and</li>
<li>the need for ongoing support services.</li>
</ol>
</li>
</ol>
<p>Approaches to disability advocacy can be categorised into six broad models being:</p>
<ul>
<li>Citizen advocacy: matches people with disability with volunteers.</li>
<li>Family advocacy: helps parents and family members advocate on behalf of the person with disability for a particular issue.</li>
<li>Individual advocacy: upholds the rights of individual people with disability by working on discrimination, abuse and neglect.</li>
<li>Legal advocacy: upholds the rights and interests of individual people with disability by addressing the legal aspects of discrimination, abuse and neglect.</li>
<li>Self advocacy: supports people with disability to advocate for themselves, or as a group.</li>
<li>Systemic advocacy: seeks to remove barriers and address discrimination to ensure the rights of people with disability.</li>
</ul>
<h4>Helpful links</h4>
<ul>
  <li><a href="http://www.advokit.org.au/" target="_blank">Advokit</a></li>
</ul>
<h4>Department of Social Services</h4>
<ul>
  <li><a href="http://www.dss.gov.au/disability-and-carers/programmes-services/for-people-with-disability/external-merits-review-support-component" target="_blank">External Merits Review – Support Component</a></li>
  <li><a href="http://www.dss.gov.au/our-responsibilities/disability-and-carers/program-services/for-people-with-disability/national-disability-advocacy-program-ndap" target="_blank">National Disability Advocacy Program (NDAP)</a></li>
</ul>
</div>
