#org-search-container{
  overflow: hidden;
}
#org-search{
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}

.has-results #org-search{
  transform: translate3d(0, -33.33%, 0);
}
.detail-open #org-search{
  transform: translate3d(0, -66.66%, 0);
}
.search-mode #org-search{
  transform: translate3d(0, 0, 0);
}


.loading{
  margin:50px auto;
}
.spinner{
    height: 80px;
    margin: 20px auto;
}

#searchbtn {
    transition: all ease-in-out 0.2s;
    position: absolute;
    /*right: 10px;
     bottom: 10px;*/
    z-index: 999;
}
.search-mode #searchbtn  {

}
#view-toggle-btn{
    transition: all ease-in-out 0.2s;
    position: absolute;
    right: 15px;
    bottom: 20px;
    z-index: 999;
}
/*#view-toggle-btn svg{
  opacity: 0;
  position: absolute;
}
#view-toggle-btn svg.active{
  opacity: 1;
}*/

.detail-open #searchbtn{
  opacity: 0;
}

button#searchbtn:focus, button#searchbtn:hover {
     transform: rotate(-15deg);

}

#searchbtn svg, #view-toggle-btn svg{
  width:60%;
  height: 60%;
  margin-top: 15%;
}

#search-area, #results, #result-detail{
  height: 100%;
}
#search-area, #result-detail{
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

#search-area{
  padding: 10px;
/*min-height: 500px;*/
}


#results{
  margin-left: 0;
  margin-right: 0;
}
#result-split{
  height: 100%;
  
}
#summary-area{
    z-index: 100;
    position: absolute;
    width: 100%;
}
#summary-area >>> .summary{
  margin:0;
  padding: 10px;
  border-radius:0;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
}


#list-panel{
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding-left: 10px;
  padding-right: 10px;
}
#map-panel{
  padding-left: 0;
  padding-right: 0;
}
#list-panel, #map-panel{
  height: 100%;
  /*padding-bottom: 50px;*/
  /*padding-top: 30px;*/
}

#map-panel >>> .map-container{
  height: 100%;

}

#result-detail{
  overflow-y: auto;
}


#tabs-list-map-view{
  transition: all ease 0.1s;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;
  background-color: #fff;
  box-shadow: 0px 5px 10px 7px rgba(0,0,0,0.25);
  /*opacity: 0;*/

}

#tabs-list-map-view li .lnr{
  margin-right: 10px;

}

/*.has-results:not(.detail-open):not(.search-mode) #tabs-list-map-view{
  opacity: 1;
}*/

#list-panel{
      transform: translateX(-100%);
}
#list-panel.active {
    transform: translateX(0);
}
#map-panel.active {
    transform: translateX(-100%);
}

#list-panel >>> .panel-default {
    border: 0;
    border-bottom: 1px solid #eee;
    box-shadow: none;
    margin-bottom: 5px;
}



#map-panel >>> .infowindow-html h4{
  font-size: 1.2em;
  font-weight: 100;
  margin: 0;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
@media(max-width:767px){
  #results{
    overflow-x: hidden;
  }
  #result-split{
    width: 200%;
  }



}

