.btn-spinner {
  display: inline-block;
  opacity: 0;
  width: 0;

  -webkit-transition: opacity 0.25s, width 0.25s;
  -moz-transition: opacity 0.25s, width 0.25s;
  -o-transition: opacity 0.25s, width 0.25s;
  transition: opacity 0.25s, width 0.25s;
}
/*.btn-default{
  color: #005A70;
}*/

.has-spinner.active {
  cursor:progress;
}

.has-spinner.active .btn-spinner {
  opacity: 1;
  width: auto; /* This doesn't work, just fix for unkown width elements */
}

.has-spinner.btn-mini.active .btn-spinner {
    width: 10px;
}

.has-spinner.btn-small.active .btn-spinner {
    width: 13px;
}

.has-spinner.btn.active .btn-spinner {
    width: 16px;
}

.has-spinner.btn-large.active .btn-spinner {
    width: 19px;
}

.glyphicon.spinning, .lnr.spinning  {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
