<!-- <h4>Near you</h4> -->
<h3>Use my location</h3>

<span style="color:red">{{errorMessage}}</span>
<!-- <ngLocation></ngLocation> -->
<!-- <span *ngIf="locationPos">location is {{locationPos.latitude}}, {{locationPos.longitude}} ({{locationPos.city}}, {{locationPos.postcode}})</span> -->
<!-- <div *ngIf="userLoc != ''"> -->
<div *ngIf="!locationPos">
  <button class="btn btn-default has-spinner active" (click)="onGetCurrentLocation()">
    <div *ngIf="locatingPosition" class="btn-spinner"><i class='glyphicon glyphicon-refresh spinning'></i></div>
    Get my current location
  </button>

</div>
<div *ngIf="locationPos">
  <div *ngIf="!locationPos.valid">
    <span class="text-muted">Sorry, could not determine your current location</span>
  </div>

  <div *ngIf="locationPos.valid && locationPos.postcode != ''">
    <span class="text-info">{{locationPos.city}}, {{locationPos.postcode}}</span>
    <button class="btn btn-primary" (click)="onCurrentPostcodeSearch(locationPos.postcode)">Search</button>
  </div>
</div>

<!-- <ul class="app-search-location" class="nav nav-tabs nav-stacked"  role="tablist">
  <li role="presentation" *ngFor="let radiusi of radiuslist" >
    <a (click)="onSelect(radiusi)" class="">within {{radiusi}}kms</a>
  </li>

</ul> -->
<!-- </div> -->
