<!-- <div class="form-group">
  <label class="control-label ">Use my location</label>

  <div *ngIf="!locationPos">
        <button type="button" class="btn btn-default btn-lg btn-block has-spinner" [class.active]="locatingPosition"
        (click)="onGetCurrentLocation()">
          <span [class.hidden]="!locatingPosition" class="btn-spinner"><i class='lnr lnr-sync spinning'></i> </span>
          <span [class.hidden]="locatingPosition"><span class="lnr lnr-map-marker"></span> </span>
            Search near me
        </button>

  </div>

  <div *ngIf="locationPos">
    <div *ngIf="!locationPos.valid">
      <span class="text-danger">Sorry, could not determine your current location</span>
    </div>

    <div *ngIf="locationPos.valid && locationPos.postcode != ''">
      <span class="lead text-primary">{{locationPos.city}}, {{locationPos.postcode}}</span>
      <button class="btn btn-default btn-lg" (click)="onCurrentPostcodeSearch(locationPos.postcode)">Search</button>
    </div>
  </div>
</div> -->

<button type="button" class="btn btn-default btn-lg has-spinner" [class.active]="locatingPosition"
 data-toggle="tooltip" data-placement="top" title="Find your current location and find providers servicing this area" data-original-title="Find your current location"
(click)="onGetCurrentLocation()">
  <span [class.hidden]="!locatingPosition" class="btn-spinner"><i class='lnr lnr-sync spinning'></i> </span>
  <span [class.hidden]="locatingPosition"><span class="lnr lnr-location"></span> </span>
  <span class="sr-only">Find your current location and find providers servicing this area</span>
</button>
