<!-- <h4>Near you</h4> -->
<span style="color:red">{{errorMessage}}</span>
<!-- <ngLocation></ngLocation> -->
<span *ngIf="locationPos">location is {{locationPos.latitude}}, {{locationPos.longitude}} ({{locationPos.city}}, {{locationPos.postcode}})</span>
<!-- <div *ngIf="userLoc != ''"> -->

<ul class="app-search-location" class="nav nav-tabs nav-stacked"  role="tablist">
  <li role="presentation" *ngFor="let radiusi of radiuslist" >
    <a (click)="onSelect(radiusi)" class="">within {{radiusi}}kms</a>
  </li>

</ul>
<!-- </div> -->
