<div id="layout" class="container-fluid">
	<header>
		<div class="row" id="header">
			<div class="hidden-xs col-sm-2 logo">
				<a [routerLink]="['']">
					<img class="center-block" src="assets/images/aus-gov-logo-stacked-sm.png" srcset="assets/images/aus-gov-logo-stacked-white-sm.png 1x, assets/images/aus-gov-logo-stacked-white@2x.png 2x">
				</a>
			</div>

			<div class="col-xs-9 col-sm-5">
				<h1>Disability Advocacy Finder</h1>
			</div>
			<div class="col-xs-3 col-sm-5" id="global-navbar">
				<nav class="navbar hidden-xs">
					<!--<div class="container-fluid">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#global-navbar" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                          </button>

						</div>-->

					<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav navbar-right">
							<li><a [routerLink]="['']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Search <span class="sr-only">(current)</span></a></li>
							<li><a [routerLink]="['/about']" routerLinkActive="active">About Disability Advocacy</a></li>
							<li><a [routerLink]="['/contact']" routerLinkActive="active">Contact</a></li>

						</ul>
					</div>
					<!--</div>-->
				</nav>
				<div class="hidden-sm hidden-md hidden-lg">
					<a id='mobile-search-btn' [routerLink]="['']"><span class="lnr lnr-magnifier"></span><span class="sr-only">Search</span></a>
				</div>
			</div>

		</div>


	</header>
	<main>

		<div class="row" id="mainBody">

			<!--Where the main body content shows -->
			<div class="">
				<router-outlet></router-outlet>
			</div>



		</div>
	</main>
	<footer class="hidden-xs">
		<div class="row hidden-xs" id="footer">
			<div class="col-sm-6">
				<p>&copy; Commonwealth of Australia 2016</p>
			</div>
			<div class="col-sm-6">
				<p class="text-right">Accessibility | Privacy | Copyright &amp; Disclaimer</p>
			</div>
		</div>
	</footer>
</div>