/*>>> a{
  color: #005A70;
}


>>> .dropdown-menu>.active>a,
>>> .dropdown-menu>.active>a:focus,
>>> .dropdown-menu>.active>a:hover{
  background-color: #005A70;
}

>>> .nav-tabs>li>a.active:hover,
>>> .nav-tabs>li>a.active:focus:hover {
    color: #005A70;
}

>>> .nav-tabs>li>a.active,
>>> .nav-tabs>li>a.active:focus {
    -webkit-box-shadow: inset 0 -2px 0 #005A70;
    box-shadow: inset 0 -2px 0 #005A70;
    color: #005A70;
}

>>> textarea:focus,
>>> textarea.form-control:focus,
>>> input.form-control:focus,
>>> input[type=text]:focus,
>>> input[type=password]:focus,
>>> input[type=email]:focus,
>>> input[type=number]:focus,
>>> [type=text].form-control:focus,
>>> [type=password].form-control:focus,
>>> [type=email].form-control:focus,
>>> [type=tel].form-control:focus,
>>> [contenteditable].form-control:focus {
    -webkit-box-shadow: inset 0 -2px 0 #005A70;
    box-shadow: inset 0 -2px 0 #005A70;
}

>>> .text-primary {
    color: #005A70;
}*/

/*.mdl-layout__content {
    -ms-flex: 0 1 auto;
    position: relative;
    display: inline-block;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    z-index: 1;
    -webkit-overflow-scrolling: touch;
  }*/
