#org-search-container{
  overflow: hidden;
}
#org-search{
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}

.has-results #org-search{
  transform: translate3d(0, -33.33%, 0);
}
.detail-open #org-search{
  transform: translate3d(0, -66.66%, 0);
}
.search-mode #org-search{
  transform: translate3d(0, 0, 0);
}


#searchbtn {
    transition: all ease-in-out 0.2s;
    position: absolute;
    right: 10px;
     bottom: 10px;
    z-index: 999;
}
.search-mode #searchbtn  {

}

button#searchbtn:focus, button#searchbtn:hover {
     transform: rotate(-15deg);

}

#searchbtn svg{
  width:60%;
  height: 60%;
  margin-top: 15%;
}

#search-area, #results, #result-detail{
  height: 100%;
  overflow-y: scroll;
}

#search-area{
  padding: 10px;

}

#results{
  margin-left: 0;
  margin-right: 0;
}

#list-panel{
  overflow-y: scroll;
  padding-left: 10px;
  padding-right: 10px;
}
#map-panel{
  padding-left: 0;
  padding-right: 0;
}
#list-panel, #map-panel{
  height: 100%;
  padding-bottom: 42px;
}

#org-search >>> .map-container{
  height: 100%;

}

#result-detail{
  overflow: scroll;
}


#tabs-list-map-view{
  transition: all ease 0.1s;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;
  background-color: #fff;
  box-shadow: 0px 5px 10px 7px rgba(0,0,0,0.25);
  opacity: 0;

}

.has-results:not(.detail-open):not(.search-mode) #tabs-list-map-view{
  opacity: 1;
}

#results{
  width: 200%;
  /*float: left;*/
}

#list-panel{
      transform: translateX(-100%);
}
#list-panel.active {
    transform: translateX(0);
}
#map-panel.active {
    transform: translateX(-100%);
}

#list-panel >>> .panel-default, #result-detail >>> .panel-default {
    border: 0;
    border-bottom: 1px solid #eee;
    box-shadow: none;
}
#result-detail >>> .panel-heading{
  background-color: transparent;
}

/*#orgSearch{
  overflow: hidden;
  background-color: #f5f5f5;
}


#searchArea {background-color: lightblue}



.btn {
    white-space: normal;
}


#search-area, #searchbtn, #refiners, #results, #list, #listPanel, #orgDetailContainer{
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;


}

#search-area{
  position: absolute;
  z-index: 3;
  height: 100%;
  padding:20px;
  box-shadow: 0 5px 10px 0px rgba(0,0,0,0.25);
  transform: translate(0, 100%);
background-color: #fff;

}

.search-mode #listPanel{
}

.search-mode #search-area{
  transform: translate(0, 0);
}


#searchOptionsBtn{
  position: absolute;
  left: 20px;
  top:20px;
  z-index: 10;
}


#tabsListOrMapView{
  position: absolute;
  bottom: 0;
  background-color: #fff;
  box-shadow: 0px 5px 10px 7px rgba(0,0,0,0.25);

}



#orgResult{
  overflow: scroll;
  padding: 0 15px;
}




#mapPanel, #listPanel {
    transition: all 0.2s ease-in;
    margin-left: 0;
    margin-right: 0;
}



#results #orgResult > .panel{
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;

}



#orgSearch >>> .map-container{
  height: 100%;
}

#orgResultDetail{
    left: 0;
    width: 100%;
    top: 100%;
    height: 100%;
    transition: all 0.2s ease-in;
    padding: 0 15px;
    overflow: scroll;
}
#orgResultDetail.detail-open {
    transform: translate(0, -100%);
}


.opaque {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    opacity: 0.9;
}



.blurry{
}
.search-mode .blurry{

    -webkit-filter: blur(5px) grayscale(40%);
    filter: blur(5px) grayscale(40%);
}*/
