<div id="org-search-container"  [style.height.px]="height" [class.has-results]="hasOrganisations" [class.search-mode]="searchMode" [class.detail-open]="selectedOrganisation != null">

  <button id="searchbtn" (click)="toggleSearchMode()" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp mdl-color--accent" data-upgraded=",MaterialButton,MaterialRipple">
              <!-- <i class="material-icons" role="presentation">search</i> -->
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="50px" height="50px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve" fill="#ffffff">

              <circle fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" cx="21" cy="20" r="16"/>
              <line fill="none" stroke="#ffffff" stroke-width="4" stroke-miterlimit="10" x1="32.229" y1="32.229" x2="45.5" y2="45.5"/>
              </svg>
              <h2 class="sr-only">Search</h2>
            <!-- <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span> -->
      </button>


  <div id="org-search">



    <!-- Search options -->
  <div class="row" id="search-area" [style.height.px]="height" [attr.aria-hidden]="!searchMode">
    <div class="col-xs-12">
      <h2 class="sr-only">Search options</h2>
        <search-options></search-options>
    </div>
    <div class="opaque"></div>
  </div>


  <div class="row" id="results"  [style.height.px]="height" [attr.aria-hidden]="searchMode">


    <h2 class="sr-only">Search results</h2>
      <!-- <div class="blurry"> -->

      <!-- <div class="col-xs-12">
        <div class="row">
      <search-summary class="col-xs-6" [organisations]="organisations"></search-summary>

      <refiner-options class="col-xs-6"></refiner-options>
    </div>
    </div> -->

        <div id="list-panel"  role="tabpanel" class="col-xs-6 col-sm-4 col-lg-3 active">
          <h3 class="sr-only">List view</h3>
          <div id="org-result" (window:resize)="onResize($event)">


              <p *ngIf="!organisations" >Loading...</p>

              <search-summary [organisations]="organisations"></search-summary>

              <refiner-options></refiner-options>


              <org-list [organisations]="organisations"
                [selectedOrgId]="selectedOrgId"
                (onSelectionChanged)="onSelect($event)"></org-list>
      <!--
              <button class="btn btn-default" *ngFor="let organisation of organisations" (click)="onSelectDetailsButton(organisation)" >
              <h5>{{organisation.Name}}</h5>
              <p>{{organisation.Suburb}}</p>
              </button>-->
              <!-- <div class="opaque"></div> -->
          </div>
        </div>
        <div id="map-panel" role="tabpanel" class="col-xs-6 col-sm-8 col-lg-9" aria-hidden="true">
          <h3 class="sr-only">Map view</h3>
          <map-component>LOADING MAP...</map-component>
        </div>
      <!-- </div> -->





    </div>


    <div class="row"  id="result-detail" [style.height.px]="height" [attr.aria-hidden]="selectedOrganisation == null">
      <div class="col-xs-12" [class.detail-open]="selectedOrganisation != null"  > <!-- @selectedState="selectedOrganisation != null" -->
          <organisation-detail [organisation]="selectedOrganisation"></organisation-detail>
      </div>
    </div>




  </div>


                    <!-- Tabs for the Mobile View -->
                    <div class="visible-xs col-xs-12" id="tabs-list-map-view">
                      <!-- <div class=""> -->
                          <ul class="nav nav-tabs text-center" role="tablist">
                            <!-- <li class="" role="presentation">
                                <a href="#search-area" aria-controls="search-area" role="tab" data-toggle="tab">Search</a>
                            </li> -->
                              <li class="active" role="presentation">
                                  <a href="#list-panel" aria-controls="list-panel" role="tab" data-toggle="tab">List</a>
                              </li>

                              <li class="" role="presentation">
                                  <a href="#map-panel" aria-controls="map-panel" role="tab" data-toggle="tab">Map</a>
                              </li>
                          </ul>
                      <!-- </div> -->
                    </div>
</div>
