#mapitem {
    height: 100px;
}
.my-organisation-detail {
        height: 50vh;
        background: #ff4d4d;
    }

    :host(.orgDetailContainer) {
        /*position: fixed;
        display: inline-block;
        width: 100%;*/
        /*right:100%;*/
        -webkit-transition: all ease-in-out 0.5s;
        transition: all ease-in-out 0.5s;
    }

    :host(.orgDetailContainer.ng-enter) {
        /*transform: rotateZ(180deg)*/
        /*transform: translate(-50%,0);*/
    }

    :host(.orgDetailContainer.ng-enter-active) {
        /*transform: translate(-100%,0);*/
    }

#leftSidePanelDetails .list-group-item{
  border:0;
}

#close-details{
  margin: 15px 10px 0 0;
  opacity: 1;
}
#close-details svg{
  width: 30px;
}


/*.scrollable{
  height: 100%;
}


#leftSidePanelDetails{
  overflow: scroll;
}*/

/*BS3 */
@media(max-width:767px){
}

/* Small devices (tablets, 768px and up) */
@media(min-width:768px){

  #mapitem {
      height: 200px;
  }
}
/* Medium devices (desktops, 992px and up) */
@media(min-width:992px){

}
/* Large devices (large desktops, 1200px and up) */
@media(min-width:1200px){}
