<div *ngIf="organisation">
    <button (click)="goBack()">Back</button>
      <h2>{{organisation.Name}} details!</h2>
      <div><label>id: </label>{{organisation.Id}}</div>
      <div>
        <label>name: </label>
        <input [(ngModel)]="organisation.Name" placeholder="name"/>
      </div>
      <ul>
        <li>Category: {{organisation.Category}}</li>
        <li>Address: {{organisation.StreetAddress}}<br/>{{organisation.Suburb}} {{organisation.Postcode}}<br/>{{organisation.State}}</li>
        <li>Email: {{organisation.Email}}</li>
        <li>Phone: {{organisation.Phone}}</li>
        <li>PhoneE164: {{organisation.PhoneAsE164}}</li>
        <li>Fax: {{organisation.Fax}}</li>
        <li>Website: {{organisation.Website}}</li>
        <li>Lat/Lng: {{organisation.Lat}},{{organisation.Lng}}</li>
        <li>Distance: {{organisation.Distance}}</li>
      </ul>
    </div>
    
    <div class="col-md-4 sideBar col-xs-12" id="leftSidePanelDetails">
    <div id="detailsPanel">
        <button class="btn btn-default" type="button">Back to Results</button>
        <hr>
        <p>Provider Name</p>
        <p>Address of the Provider</p>
        <p>SUBURB, STATE 9999</p>
        <p>1800 888 999</p>
        <p>info@info.org.au</p>
        <p>08 2929 2929</p>
        <button type="button" class="btn btn-default">More Details</button>
        <hr>
        <p>Advocacy Services</p>
        <p>Text desciption from provider,&nbsp;Text desciption from provider,&nbsp;Text desciption from provider,&nbsp;Text desciption from provider,&nbsp;Text desciption from provider,&nbsp;Text desciption from provider,&nbsp;Text desciption from provider,&nbsp;Text desciption from provider,&nbsp;Text desciption from provider,&nbsp;Text desciption from provider,&nbsp;Text desciption from provider</p>
        <p>Provider Types</p>
        <ul> 
            <li>Lorem ipsum dolor sit amet</li>                             
            <li>Consectetur adipiscing elit</li>                             
            <li>Integer molestie lorem at massa</li>                             
        </ul>
        <p>Service Areas</p>
        <ul> 
            <li>Lorem ipsum dolor sit amet</li>                             
            <li>Consectetur adipiscing elit</li>                             
            <li>Integer molestie lorem at massa</li>                             
        </ul>
    </div>
</div>