<div class="panel panel-default" *ngIf="organisation">
  <div class="panel-heading">
    <h3 class="panel-title">{{organisation.Name}}</h3>
    <button class="btn btn-default text-right" type="button"(click)="goBack()">Back to Results</button>
    <button class="btn btn-default text-right" type="button"(click)="deselect()">close</button>
  </div>
  <div class="panel-body ">

    <div class="" id="leftSidePanelDetails">

    <div id="mapitemcontainer">
            <div ref-map id="mapitem" style="position: relative; overflow: hidden; transform: translateZ(0px); background-color: rgb(229, 227, 223);"></div>
            <div id="expand-map">
                <a class="btn btn-xs btn-default" data-bind="click: $root.expandDetailMap">
                    <span class="fa-stack">
                        <i class="fa fa-square-o fa-stack-2x" style="margin-top:1px;"></i>
                        <i class="fa fa-stack-1x fa-expand" data-bind="css: {'fa-compress': detailMapExpanded, ' fa-expand': !detailMapExpanded()}"></i>
                    </span>
                    <span data-bind="text: $root.expandDetailMapTitle"> Expand map</span>
                </a>
            </div>
        </div>
        <!-- <div class="col-md-4 sideBar col-xs-12" id="leftSidePanelDetails"> -->
        <div id="detailsPanel">

            <hr>
            <li>Category: {{organisation.Category}}</li>
            <li>Address: {{organisation.StreetAddress}}<br/>{{organisation.Suburb}} {{organisation.Postcode}}<br/>{{organisation.State}}</li>
            <li>Email: {{organisation.Email}}</li>
            <li>Phone: {{organisation.Phone}}</li>
            <li>PhoneE164: {{organisation.PhoneAsE164}}</li>
            <li>Fax: {{organisation.Fax}}</li>
            <li>Website: {{organisation.Website}}</li>
            <li>Lat/Lng: {{organisation.Lat}},{{organisation.Lng}}</li>
            <li>Distance: {{organisation.Distance}}</li>
            <hr>
            <p>Advocacy Services</p>
            <p>Text desciption from provider,&nbsp;Text desciption from provider,&nbsp;Text desciption from provider,&nbsp;Text desciption from provider,&nbsp;Text desciption from provider,&nbsp;Text desciption from provider,&nbsp;Text desciption from provider,&nbsp;Text desciption from provider,&nbsp;Text desciption from provider,&nbsp;Text desciption from provider,&nbsp;Text desciption from provider</p>
            <p>Provider Types</p>
            <ul>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Consectetur adipiscing elit</li>
                <li>Integer molestie lorem at massa</li>
            </ul>
            <p>Service Areas</p>
            <ul>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Consectetur adipiscing elit</li>
                <li>Integer molestie lorem at massa</li>
            </ul>
        </div>
    </div>
</div>
