#org-search-container{
  overflow: hidden;
}
#org-search{
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}

.has-results #org-search{
  transform: translate3d(0, -33.33%, 0);
}
.detail-open #org-search{
  transform: translate3d(0, -66.66%, 0);
}
.search-mode #org-search{
  transform: translate3d(0, 0, 0);
}


#searchbtn {
    transition: all ease-in-out 0.2s;
    position: absolute;
    right: 10px;
     bottom: 10px;
    z-index: 999;
}
.search-mode #searchbtn  {

}
.detail-open #searchbtn{
  opacity: 0;
}

button#searchbtn:focus, button#searchbtn:hover {
     transform: rotate(-15deg);

}

#searchbtn svg{
  width:60%;
  height: 60%;
  margin-top: 15%;
}

#search-area, #results, #result-detail{
  height: 100%;
}
#search-area, #result-detail{
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

#search-area{
  padding: 10px;

}

#results{
  margin-left: 0;
  margin-right: 0;
}

#list-panel{
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding-left: 10px;
  padding-right: 10px;
}
#map-panel{
  padding-left: 0;
  padding-right: 0;
}
#list-panel, #map-panel{
  height: 100%;
  padding-bottom: 42px;
}

#org-search >>> .map-container{
  height: 100%;

}

#result-detail{
  overflow-y: auto;
}


#tabs-list-map-view{
  transition: all ease 0.1s;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;
  background-color: #fff;
  box-shadow: 0px 5px 10px 7px rgba(0,0,0,0.25);
  opacity: 0;

}

.has-results:not(.detail-open):not(.search-mode) #tabs-list-map-view{
  opacity: 1;
}

#results{
  width: 200%;
  /*float: left;*/
}

#list-panel{
      transform: translateX(-100%);
}
#list-panel.active {
    transform: translateX(0);
}
#map-panel.active {
    transform: translateX(-100%);
}

#list-panel >>> .panel-default {
    border: 0;
    border-bottom: 1px solid #eee;
    box-shadow: none;
    margin-bottom: 0px;
}



#map-panel >>> .infowindow-html h4{
  font-size: 1.2em;
  font-weight: 100;
  margin: 0;
}
