<!-- Search options -->
<!--<span *ngIf="selectedOrganisation" class="col-md-12 alert alert-info">Selected:  {{selectedOrganisation.Name}}</span>-->
<button class="btn btn-default" (click)="refreshPosition()"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Refresh Position</button>
<div class="row" id="orgSearch">
    <search-options></search-options>

    <div class="col-md-6">
        <map-component>LOADING MAP...</map-component>
    </div>


    <div class="col-md-2" id="orgResult">
        <p *ngIf="!organisations">Loading...</p>
        <button class="btn btn-default" *ngFor="let organisation of organisations" (click)="onSelectDetailsButton(organisation)">
        <h5>{{organisation.Name}}</h5>
        <p>{{organisation.Suburb}}</p>
        </button>



    </div>