<!-- <ul class="provider-type nav nav-tabs nav-stacked">
  <li><a href="#">All</a></li>
  <li *ngFor="let providerType of providerTypes">
    <a (click)="onSelect(providerType)">{{providerType.Value}}</a>
  </li>
</ul> -->
<!-- Single button -->
<div class="btn-group">
  <button type="button" id="filterType" class="btn btn-default btn-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="btn-title">{{selectedProviderType?.Value || "Refine: Provider Type"}}</span> <span class="caret"></span>
  </button>
  <ul class="dropdown-menu dropdown-menu-right">
    <li><a href="#" (click)="onSelect()">All</a></li>
    <li role="separator" class="divider"></li>
    <li *ngFor="let providerType of providerTypes" [class.active]="providerType === selectedProviderType">
      <a href="#" (click)="onSelect(providerType)">{{providerType.Value}}</a>
    </li>
  </ul>
</div>
