html, body{
  height: 100%;
  width: 100%;
  margin: 0;
}

/* If standalone mode */
@media all and (display-mode: standalone) {
  body {

  }
}




  #header, #footer
  {
      background: #ffffff;
      color: #005A70;
  }

  header{
    z-index: 10;
    position: relative;
    background-color: #fff;
  }
  #header{
    box-shadow: 0 1px 10px 0px rgba(0,0,0,0.25);

  }

  a{
    color: #005A70;
  }

  #layout.container-fluid{
    display: flex;
    height: 100%;
    flex-direction: column;
    padding: 0;
  }



  header{
    /*height: 120px;*/
    padding: 0 15px;
  }
  main{
    padding: 0 15px;
    height: 100%;
    flex: 1;
    /*overflow-y: hidden;*/
    overflow-y: auto;
    align-self: stretch;

  }
  footer{
    padding: 0 15px;
    max-height: 50px;
  }



  header h1{
    /*font-family: helvetica;*/
    color: #005A70;
    font-size: 1.2em;
  }

  .navbar{
    margin-bottom: 0;
  }
  .navbar-toggle .icon-bar{
    background-color: #005A70;

  }

  a{
    color: #005A70;
  }

  .sideBar
  {
      background: #ffffff;
  }

  .logo img {
      max-height: 100px;
      padding: 20px 0;
  }
  .logo{
  }

  .page-container{
    padding: 10px 30px;
  }

  #footer{
  /*box-shadow: 0px 5px 10px 7px rgba(0,0,0,0.25);*/
  border-top: 1px solid #eee;
  /*#005A70;*/
  padding-top: 5px;

  }


  .launch main{
    /*padding-top: 50px;*/
    height: 100%;
    /*background-color: #eee;*/

  }




.mdl-button {
    background: 0 0;
    border: none;
    border-radius: 2px;
    color: #000;
    position: relative;
    height: 36px;
    margin: 0;
    min-width: 64px;
    padding: 0 16px;
    display: inline-block;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
    overflow: hidden;
    will-change: box-shadow;
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 36px;
    vertical-align: middle;
}

.mdl-button--fab {
    border-radius: 50%;
    font-size: 24px;
    height: 56px;
    margin: auto;
    min-width: 56px;
    width: 56px;
    padding: 0;
    overflow: hidden;
    background: rgba(158,158,158,.2);
    box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12),0 1px 1px 0 rgba(0,0,0,.24);
    position: relative;
    line-height: normal;
}
.mdl-shadow--4dp {
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
}
.mdl-shadow--8dp {
    box-shadow: 0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12),0 5px 5px -3px rgba(0,0,0,.2);
}
.mdl-color--accent {
    background-color: #005A70 !important;
}
.mdl-button--fab.mdl-button--colored {
    color: #fff;
}


.mdl-card {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
    min-height: 200px;
    overflow: hidden;
    width: 330px;
    z-index: 1;
    position: relative;
    background: #fff;
    border-radius: 2px;
    box-sizing: border-box;
}

.mdl-card__title {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #000;
    display: block;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch;
    line-height: normal;
    padding: 16px;
    -webkit-perspective-origin: 165px 56px;
    perspective-origin: 165px 56px;
    -webkit-transform-origin: 165px 56px;
    transform-origin: 165px 56px;
    box-sizing: border-box;
}
.mdl-card__title-text {
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    color: inherit;
    display: block;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 24px;
    font-weight: 300;
    line-height: normal;
    overflow: hidden;
    -webkit-transform-origin: 149px 48px;
    transform-origin: 149px 48px;
    margin: 0;
}
.mdl-card__supporting-text {
    color: rgba(0,0,0,.54);
    font-size: 1rem;
    line-height: 18px;
    overflow: hidden;
    /*padding: 40px 50px;*/
      padding:20px;
    /*width: 90%;*/
}
.mdl-card__actions.mdl-card--border {
    border-top: 1px solid rgba(0,0,0,.1);
}
.mdl-card__actions {
    font-size: 16px;
    line-height: normal;
    width: 100%;
    background-color: transparent;
    padding: 8px;
    box-sizing: border-box;
}
.mdl-card__menu {
    position: absolute;
    right: 16px;
    top: 16px;
}
.mdl-button--icon {
    border-radius: 50%;
    font-size: 24px;
    height: 32px;
    margin-left: 0;
    margin-right: 0;
    min-width: 32px;
    width: 32px;
    padding: 0;
    overflow: hidden;
    color: inherit;
    line-height: normal;
}

.mdl-shadow--2dp {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}


.btn-primary{
  background-color: #005A70;
}
.btn-default{
  color: #005A70;
}


.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover{
  background-color: #005A70;
}

.nav-tabs>li>a.active:hover,
.nav-tabs>li>a.active:focus:hover {
    color: #005A70;
}

.nav-tabs>li>a.active,
.nav-tabs>li>a.active:focus {
    -webkit-box-shadow: inset 0 -2px 0 #005A70;
    box-shadow: inset 0 -2px 0 #005A70;
    color: #005A70;
}


.text-primary {
    color: #005A70;
}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
    -webkit-box-shadow: inset 0 -2px 0 #005A70;
    box-shadow: inset 0 -2px 0 #005A70;
}



/*Spinner */
#loading{
  padding: 100px 30px;
  font-size:2em;
   color:#005A70;
}
/*.spinner {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
  }

  .cube1, .cube2 {
    background-color: #005A70;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
    animation: sk-cubemove 1.8s infinite ease-in-out;
  }

  .cube2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }

  @-webkit-keyframes sk-cubemove {
    25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
    50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
    75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
    100% { -webkit-transform: rotate(-360deg) }
  }

  @keyframes sk-cubemove {
    25% {
      transform: translateX(42px) rotate(-90deg) scale(0.5);
      -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    } 50% {
      transform: translateX(42px) translateY(42px) rotate(-179deg);
      -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
    } 50.1% {
      transform: translateX(42px) translateY(42px) rotate(-180deg);
      -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    } 75% {
      transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
      -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    } 100% {
      transform: rotate(-360deg);
      -webkit-transform: rotate(-360deg);
    }
  }*/
  .spinner {
  /*margin: 20% auto;*/
  margin: 00px 30px;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;

}

.spinner > div {
  background-color: #005A70;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}


/*BS4*/
/*
@media(min-width:34em){}
@media(min-width:48em){}
@media(min-width:62em){}
@media(min-width:75em){}*/

/* BS3 */

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
@media(max-width:767px){

}

/* Small devices (tablets, 768px and up) */
@media(min-width:768px){
  header h1{
    margin-top: 3rem;

    font-size: 2em;
  }
  #global-navbar .navbar-nav a{
    color: #005A70;
    padding: 5px 10px;
  }
  #global-navbar .navbar-nav a.active {
    border-bottom: 3px solid #005A70;

  }

}
/* Medium devices (desktops, 992px and up) */
@media(min-width:992px){
  header h1{
    font-size: 2.5em;
  }

}
/* Large devices (large desktops, 1200px and up) */
@media(min-width:1200px){}
