<configuration>
    <system.webServer>
        <rewrite>
          <rules>
            <rule name="Main Rule" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/disability/ndap/" />
                </rule>
            </rules>
        </rewrite>

	<staticContent>
	    	<remove fileExtension=".appcache"/>
            	<mimeMap fileExtension=".appcache" mimeType="text/cache-manifest" />
	    	<remove fileExtension=".svg"/>
	        <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />

	 	<remove fileExtension=".woff"/>
      		<mimeMap fileExtension=".woff" mimeType="application/font-woff" />
    	</staticContent>
    
    </system.webServer>
</configuration>