
    <h2>Search Options</h2>

    <h3>PostCode</h3>
    <input type="number" name="" id="input1/(\w+)/\u\1/g" class="form-control" [(ngModel)]="postCode" min="0" max="9999" step="" title="" placeholder="Postcode" >
    <button type="button" name="postCodeSearch" class="btn btn-primary btn-block" (click)="onPostCodeSearch(postCode)">
        Search
    </button>

    <h3>Provider Type</h3>
    <provider-types (onSelectedProviderType)="onSelectedProviderType($event)">></provider-types>

    <button type="button" class="btn btn-primary btn-block"
    (click)="onAllOrganisations()">
        All Providers
    </button>