#panelSearch{
}
#primary-search-row{
  padding-top: 20px;
  padding-bottom: 30px;
}
#primary-search-row btn-primary.disabled,
#primary-search-row .btn-primary[disabled] {
    opacity: 0.3;
}

#disclaimer h3, #disclaimer p{
  font-size: 80%;
  color: #666;

}
#view-all-btn{
  margin-top: 24px;
}

#location-request .btn{
  margin: 0 10px 10px;
}

#primary-search-row .error.alert {
    margin-top: 20px;
}
#primary-search-row .control-label {
  font-size: 1.2em;
}

.more-link {
  color: #005A70;
  margin-bottom: 20px;
}

input#locationInput {
    font-size: 42px;
}


#primary-search-row .btn-lg,
>>> #primary-search-row .btn-group-lg .btn {
    padding: 18px 14px;
  font-size: 20px;

}
#primary-search-row .input-lg {
  height: 64px;
}



.main-title .lead{
  font-size: 1.6em;
}




.search-card-wide.mdl-card {
  width: 100%;
}
.search-card-wide > .mdl-card__title {
  color: #fff;
  min-height: 100px;
  background: #005A70;
   /*url('../assets/demos/welcome_card.jpg') center / cover;*/
}
.search-card-wide > .mdl-card__menu {
  color: #fff;
}

.search-card-wide > .mdl-card__supporting-text{
  padding:40px 5px 20px;
}

.search-card-wide .mdl-card__actions{
  background-color: #fafafa;
}


.search-postcode{
  max-width: 240px;
}
.search-postcode input.form-control {
    min-width: 90px;
}

#collapseAdvanced{
  padding-top: 20px;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
@media(max-width:767px){

}

/* Small devices (tablets, 768px and up) */
@media(min-width:768px){
  #primary-search-row{
    padding-bottom: 30px;
  }

  .main-title .lead{
    font-size: 2.5rem;
  }

  .main-title{
    margin: 30px 15px;
  }

  .search-card-wide.mdl-card {
    width: 500px;
  }
  .search-card-wide > .mdl-card__supporting-text{
    padding:40px 20px 20px;
  }



}
/* Medium devices (desktops, 992px and up) */
@media(min-width:992px){
  .main-title .lead{
    font-size: 3.5rem;
  }
  #primary-search-row{
    padding-top: 30px;
    padding-bottom: 40px;
  }


  input#locationInput {
      font-size: 48px;
  }

  #primary-search-row .btn-lg,
  >>> #primary-search-row .btn-group-lg .btn {
      padding: 18px 14px;
    font-size: 24px;

  }
  #primary-search-row .input-lg {
    height: 72px;
  }
  .more-link{
    font-size: 2rem;
    margin-bottom: 40px;
  }
  .search-postcode{
    max-width: 300px;
  }


}
/* Large devices (large desktops, 1200px and up) */
@media(min-width:1200px){
  #primary-search-row{
    padding-top: 40px;
    padding-bottom: 60px;
  }
  .more-link{

  }



}
