<div class="col-md-4 col-xs-12" id="leftSidePanelSearch">
    <h2>Search for a Provider</h2>

    <div class="form-group">

        <!--Enter a location-->
        <label class="control-label" for="locationInput">Postcode</label>
        <input type="text" 
            class="form-control" 
            id="locationInput" 
            placeholder="Enter a Postcode..." 
            [(ngModel)]="postCode">

    </div>
    <hr>
    <button type="button" class="btn btn-primary"
    (click)="onPostCodeSearch(postCode)">
        Search
    </button>
    
    <button type="button" class="btn btn-primary"
    (click)="onAllOrganisations()">
        View all Providers
    </button>
    <hr>
    
    <h3>Disclaimer</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc fringilla lacinia libero, 
        in viverra sem lobortis a. Phasellus varius tristique lectus. 
        Interdum et malesuada fames ac ante ipsum primis in faucibus. 
        Fusce urna ipsum, tristique quis ultrices in, vestibulum id ligula. 
        Duis euismod lacus in libero dapibus fringilla. 
    </p>
</div>